In [1]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading https://files.pythonhosted.org/packages/28/04/e40098f3730e75bbe36a338926f566ea803550a34fb50535499f4fc4787a/mysql-connector-2.2.9.tar.gz (11.9MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp37-cp37m-win_amd64.whl size=247951 sha256=377a2d006affd761d40eb2ba8599f77992ecb4944acd4386eedc8948cb2c2b00
  Stored in directory: C:\Users\MANISH SACHAN\AppData\Local\pip\Cache\wheels\8c\83\a1\f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

DB Name: project_sales
Table Name: data
Host: 18.136.56.185
Port: 3306
Username: dm_team2
Password: dm_team1118#

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
db_host = '18.136.56.185:3306'
username = 'dm_team2'
user_pass = 'dm_team1118#'

db_name = 'project_sales'

conn = create_engine('mysql+pymysql://'+username+':'+user_pass+'@'+db_host+'/'+db_name)

query = "select * from data"
datas = pd.read_sql(query,conn)
datas= pd.DataFrame(datas)
datas.to_csv('ficdata.csv',index=False)

KeyboardInterrupt:

In [91]:
data =pd.read_csv('ficdata.csv')
data.head()

,Created,Product_ID,Source,Mobile,EMAIL,Sales_Agent,Location,Delivery_Mode,Status
0,14-11-2018 10:05,NaN,Website,984XXXXXXX,aXXXXXXX@gmail.com,Sales-Agent-11,NaN,Mode-5,Open
1,14-11-2018 09:22,NaN,Website,XXXXXXX,#VALUE!,Sales-Agent-10,NaN,Mode-5,Open
2,14-11-2018 09:21,NaN,Website,XXXXXXX,dXXXXXXX@yahoo.com,Sales-Agent-10,NaN,Mode-5,Open
3,14-11-2018 08:46,NaN,Website,XXXXXXX,wXXXXXXX@gmail.com,Sales-Agent-10,NaN,Mode-5,Open
4,14-11-2018 07:34,NaN,Website,XXXXXXX,cXXXXXXX@gmail.com,Sales-Agent-10,NaN,Mode-5,Open
5,14-11-2018 07:33,NaN,Website,XXXXXXX,rXXXXXXX@gmail.com,Sales-Agent-10,NaN,Mode-5,Open
6,14-11-2018 05:58,NaN,Website,XXXXXXX,aXXXXXXX@gmail.com,Sales-Agent-10,NaN,Mode-5,Open
7,14-11-2018 05:49,NaN,Website,XXXXXXX,rXXXXXXX@gmail.com,Sales-Agent-10,NaN,Mode-5,Open
8,14-11-2018 05:40,NaN,Website,078XXXXXXX,DXXXXXXXheblue.com,Sales-Agent-10,NaN,Mode-5,Open
9,14-11-2018 05:06,NaN,Website,XXXXXXX,jXXXXXXX@gmail.com,Sales-Agent-10,NaN,Mode-5,Open
10,14-11-2018 05:03,NaN,Website,XXXXXXX,dXXXXXXXt9@aol.com,Sales-Agent-10,NaN,Mode-5,Open
11,14-11-2018 04:52,NaN,Website,XXXXXXX,eXXXXXXX@gmail.com,Sales-Agent-10,NaN,Mode-5,Open
12,14-11-2018 02:37,NaN,Website,467XXXXXXX,bXXXXXXX@gmail.com,Sales-Agent-10,NaN,Mode-5,Open
13,13-11-2018 23:40,NaN,NaN,XXXXXXX,#VALUE!,Sales-Agent-10,NaN,Mode-5,Open
14,13-11-2018 21:14,NaN,Website,984XXXXXXX,SXXXXXXXutlook.com,Sales-Agent-10,NaN,Mode-5,Open
15,13-11-2018 20:45,NaN,NaN,XXXXXXX,#VALUE!,Sales-Agent-10,NaN,Mode-5,Open
16,13-11-2018 20:15,NaN,Website,XXXXXXX,#VALUE!,Sales-Agent-10,NaN,Mode-5,Open
17,13-11-2018 20:14,NaN,Website,XXXXXXX,#VALUE!,Sales-Agent-10,NaN,Mode-5,Open
18,13-11-2018 18:51,9.0,Live Chat-Google Organic,971XXXXXXX,mXXXXXXX@gmail.com,Sales-Agent-3,Bangalore,Mode-1,Potential
19,13-11-2018 18:48,19.0,Call,701XXXXXXX,#VALUE!,Sales-Agent-4,Other Locations,Mode-5,Potential

In [111]:
data = data.loc[:,['Created','Product_ID','Source','Sales_Agent','Delivery_Mode','Status']]

In [113]:
data.head()

            Created  Product_ID  Source  Sales_Agent  Delivery_Mode  Status
0  14-11-2018 10:05           9      24            2              4       8
1  14-11-2018 09:22           9      24            1              4       8
2  14-11-2018 09:21           9      24            1              4       8
3  14-11-2018 08:46           9      24            1              4       8
4  14-11-2018 07:34           9      24            1              4       8

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7422 entries, 0 to 7421
Data columns (total 6 columns):
Created          7422 non-null object
Product_ID       7364 non-null float64
Source           7405 non-null object
Sales_Agent      7399 non-null object
Delivery_Mode    7422 non-null object
Status           7422 non-null object
dtypes: float64(1), object(5)
memory usage: 348.0+ KB

In [96]:
data.Product_ID.sort_values(ascending= True)

3408    0.0
4664    0.0
4468    1.0
4560    1.0
4951    1.0
       ...
5086    NaN
5235    NaN
5258    NaN
5549    NaN
5664    NaN
Name: Product_ID, Length: 7422, dtype: float64

In [49]:
data.Source.sort_values(ascending=True)

1780    By Recommendation
5882    By Recommendation
3037    By Recommendation
5500    By Recommendation
4767    By Recommendation
              ...
5258                  NaN
5549                  NaN
6627                  NaN
6886                  NaN
6910                  NaN
Name: Source, Length: 7422, dtype: object

In [50]:
data.Sales_Agent.sort_values(ascending=True)

3051     Sales-Agent-1
2556     Sales-Agent-1
5258     Sales-Agent-1
4979     Sales-Agent-1
5875    Sales-Agent-10
             ...
5784               NaN
5901               NaN
6957               NaN
7099               NaN
7101               NaN
Name: Sales_Agent, Length: 7422, dtype: object

In [8]:
data.isnull().sum()

Created           0
Product_ID       58
Source           17
Sales_Agent      23
Delivery_Mode     0
Status            0
dtype: int64

In [9]:
data.drop_duplicates().shape

(7410, 6)

In [10]:
data.shape

(7422, 6)

In [56]:
data.drop_duplicates(['Product_ID','Source','Sales_Agent','Delivery_Mode','Status']).shape

(3308, 6)

In [11]:
data.drop_duplicates().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7410 entries, 0 to 7421
Data columns (total 6 columns):
Created          7410 non-null object
Product_ID       7354 non-null float64
Source           7393 non-null object
Sales_Agent      7387 non-null object
Delivery_Mode    7410 non-null object
Status           7410 non-null object
dtypes: float64(1), object(5)
memory usage: 405.2+ KB

In [114]:
data.drop_duplicates(inplace = True)

In [98]:
data.shape

(7410, 6)

In [13]:
data.isnull().sum()

Created           0
Product_ID       58
Source           17
Sales_Agent      23
Delivery_Mode     0
Status            0
dtype: int64

In [99]:
data.fillna(method = 'ffill').isnull().sum()

Created           0
Product_ID       18
Source            0
Sales_Agent       0
Delivery_Mode     0
Status            0
dtype: int64

In [115]:
data.fillna(method = 'bfill', inplace = True)

In [101]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7410 entries, 0 to 7421
Data columns (total 6 columns):
Created          7410 non-null object
Product_ID       7410 non-null float64
Source           7410 non-null object
Sales_Agent      7410 non-null object
Delivery_Mode    7410 non-null object
Status           7410 non-null object
dtypes: float64(1), object(5)
memory usage: 405.2+ KB

In [116]:
data.Product_ID = data.Product_ID.astype('int')

In [103]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7410 entries, 0 to 7421
Data columns (total 6 columns):
Created          7410 non-null object
Product_ID       7410 non-null int32
Source           7410 non-null object
Sales_Agent      7410 non-null object
Delivery_Mode    7410 non-null object
Status           7410 non-null object
dtypes: int32(1), object(5)
memory usage: 376.3+ KB

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
enc= LabelEncoder()

In [104]:
data.Source= enc.fit_transform(data.Source)
data.Sales_Agent= enc.fit_transform(data.Sales_Agent)
data.Delivery_Mode= enc.fit_transform(data.Delivery_Mode)
data.Status= enc.fit_transform(data.Status)

In [109]:
data.Output= enc.fit_transform(data.Status)

C:\Users\MANISH SACHAN\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [110]:
data.head()

            Created  Product_ID  Source  Sales_Agent  Delivery_Mode  Status
0  14-11-2018 10:05           9      24            2              4       8
1  14-11-2018 09:22           9      24            1              4       8
2  14-11-2018 09:21           9      24            1              4       8
3  14-11-2018 08:46           9      24            1              4       8
4  14-11-2018 07:34           9      24            1              4       8

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [28]:
from sklearn.metrics import classification_report

In [106]:
X= data.loc[:,['Product_ID','Source','Sales_Agent','Delivery_Mode']]
y= data.Status

In [107]:
X.shape

(7410, 4)

In [108]:
y.shape

(7410,)

In [45]:
##model = RandomForestClassifier(n_estimators=500,max_features=4,max_depth=15)
model = RandomForestClassifier()
X_train, X_test, y_train,y_test = train_test_split(X,y, test_size=0.1, random_state= 10)
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [46]:
pd.crosstab(y_test,y_predict)

col_0    0   1   2   3   4  5   6   7  8   9
Status
0       25  11  11   7   2  1  11   2  0  12
1        6   7   1  13  10  0   5   4  0   3
2        8   2  20   5   7  1   0  22  0   4
3       10  11   8  81  10  8   6  25  1   7
4        5   4   3  20  19  1   5  12  0  12
5        6   1   3  10   4  3   2   3  0   5
6        9   7   5  10   8  4   6  11  0  10
7        3   2  14  43   5  2   4  20  0   7
8        0   0   0   2   0  0   0   0  5   0
9       13   3  14  13  10  1   2   7  0  17
10       0   0   0   0   0  0   0   1  0   0

In [42]:
enc.classes_

array(['CONVERTED', 'In Progress Negative', 'In Progress Positive',
       'Junk Lead', 'Just Enquiry', 'LOST', 'Long Term', 'Not Responding',
       'Open', 'Potential', 'converted'], dtype=object)

In [52]:
output= enc.inverse_transform(data.Status)
output

array(['Open', 'Open', 'Open', ..., 'Not Responding', 'Just Enquiry',
       'CONVERTED'], dtype=object)

In [117]:
data.Status.value_counts()

3     1528
7     1128
0      833
4      760
9      707
6      646
2      643
1      626
5      440
8       80
10      18
Name: Status, dtype: int64

In [57]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score

In [86]:
reg= RandomForestClassifier(n_estimators=200,criterion='entropy',max_features=2,max_depth=24)
X_train, X_test, y_train,y_test = train_test_split(X,y, test_size=0.1, random_state= 3)
reg.fit(X_train, y_train)
ypred = reg.predict(X_test)
print("accuracy score", accuracy_score(y_test,ypred))

accuracy score 0.3028263795423957

In [118]:
data.head()

            Created  Product_ID  Source  Sales_Agent  Delivery_Mode  Status
0  14-11-2018 10:05           9      24            2              4       8
1  14-11-2018 09:22           9      24            1              4       8
2  14-11-2018 09:21           9      24            1              4       8
3  14-11-2018 08:46           9      24            1              4       8
4  14-11-2018 07:34           9      24            1              4       8

ressampling using SMOTE

In [119]:
from imblearn.over_sampling import SMOTE

Using TensorFlow backend.

In [120]:
sm= SMOTE()
X_train_sm,y_train_sm = sm.fit_resample(X_train,y_train)

In [121]:
from collections import Counter

In [122]:
Counter(y_train)

Counter({2: 582,
         6: 583,
         3: 1383,
         9: 640,
         5: 396,
         7: 1010,
         0: 750,
         4: 679,
         1: 566,
         10: 17,
         8: 73})

In [123]:
Counter(y_train_sm)

Counter({2: 1383,
         6: 1383,
         3: 1383,
         9: 1383,
         5: 1383,
         7: 1383,
         0: 1383,
         4: 1383,
         1: 1383,
         10: 1383,
         8: 1383})

### get data clean data and create a new feature called output.

In [125]:
data = pd.read_csv('ficdata.csv')
data = data.loc[:,['Created','Product_ID','Source','Sales_Agent','Delivery_Mode','Status']]
data.shape

(7422, 6)

In [127]:
data.drop_duplicates(inplace = True)
data.shape

(7410, 6)

In [128]:
data.fillna(method = 'bfill', inplace = True)
data.isnull().sum()

Created          0
Product_ID       0
Source           0
Sales_Agent      0
Delivery_Mode    0
Status           0
dtype: int64

In [129]:
data.Product_ID = data.Product_ID.astype('int')

In [130]:
data.Status.value_counts()

Junk Lead               1529
Not Responding          1128
CONVERTED                833
Just Enquiry             760
Potential                707
Long Term                646
In Progress Positive     643
In Progress Negative     626
LOST                     440
Open                      80
converted                 18
Name: Status, dtype: int64

In [141]:
833+707+646+643+80+18

2927

In [ ]:
data.loc[data.Status = 'CONVERTED ' | data.Status= 'In Progress Positive' | data. ]

In [134]:
a=['converted','CONVERTED','In Progress Positive','Long Term','Potential','Open']

for i in a:
    data.loc[data.Status == i,'output'] = 1

In [135]:
data.output.value_counts()

0.0    4483
1.0    2927
Name: output, dtype: int64

In [139]:
data.output = data.output.astype('int')

In [142]:
data.to_csv('fic_new.csv', index = False)

In [144]:
data_n = pd.read_csv('fic_new.csv')
data_n.head()

,Created,Product_ID,Source,Sales_Agent,Delivery_Mode,Status,output
0,14-11-2018 10:05,9,Website,Sales-Agent-11,Mode-5,Open,1
1,14-11-2018 09:22,9,Website,Sales-Agent-10,Mode-5,Open,1
2,14-11-2018 09:21,9,Website,Sales-Agent-10,Mode-5,Open,1
3,14-11-2018 08:46,9,Website,Sales-Agent-10,Mode-5,Open,1
4,14-11-2018 07:34,9,Website,Sales-Agent-10,Mode-5,Open,1

In [149]:
X= data_n.loc[:,['Product_ID','Source','Sales_Agent','Delivery_Mode']]
y= data_n.output

In [150]:
from sklearn.preprocessing import LabelEncoder

In [151]:
enc = LabelEncoder()

In [152]:
data_n.Source= enc.fit_transform(data_n.Source)
data_n.Sales_Agent= enc.fit_transform(data_n.Sales_Agent)
data_n.Delivery_Mode= enc.fit_transform(data_n.Delivery_Mode)

In [153]:
data_n.head()

,Created,Product_ID,Source,Sales_Agent,Delivery_Mode,Status,output
0,14-11-2018 10:05,9,24,2,4,Open,1
1,14-11-2018 09:22,9,24,1,4,Open,1
2,14-11-2018 09:21,9,24,1,4,Open,1
3,14-11-2018 08:46,9,24,1,4,Open,1
4,14-11-2018 07:34,9,24,1,4,Open,1

In [156]:
X= data_n.loc[:,['Product_ID','Source','Sales_Agent','Delivery_Mode']]
y= data_n.output

In [160]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [161]:
model = RandomForestClassifier()

In [163]:
from imblearn.over_sampling import SMOTE
from collections import Counter

In [164]:
y.value_counts()

0    4483
1    2927
Name: output, dtype: int64

In [200]:
model.fit(X_train_sm,y_train_sm)
y_pred = model.predict(X_test)

In [211]:
from sklearn.metrics import classification_report, accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [205]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=11)
sm= SMOTE()
X_train_sm,y_train_sm = sm.fit_resample(X_train,y_train)
y_train_sm.value_counts()

1    3579
0    3579
Name: output, dtype: int64

In [209]:
model = RandomForestClassifier(n_estimators=200,max_depth=20,max_features=3,criterion='entropy')
model.fit(X_train_sm,y_train_sm)
y_pred = model.predict(X_test)
print("accuracy score", accuracy_score(y_test,y_pred))
pd.crosstab(y_test,y_pred)
pd.DataFrame(model.feature_importances_, index= X.columns).sort_values(0)

accuracy score 0.6707152496626181

                      0
Delivery_Mode  0.128149
Source         0.221926
Sales_Agent    0.252789
Product_ID     0.397135

In [208]:
score = cross_val_score(model,X_train_sm,y_train_sm, scoring ='accuracy')
score

array([0.67946927, 0.6773743 , 0.69134078, 0.71418588, 0.71977638])

In [215]:
parameters = {'max_depth':[5,10,15,20,25,30],'random_state':[0,5,10,20],'n_estimators':[25,45,55,60,70,90,100],'max_features':[2,3,4]}
grid = GridSearchCV(model,parameters,cv=5)
grid.fit(X_test,y_test)
grid.best_score_

0.7071503321503322

In [216]:
grid.best_params_

{'max_depth': 5, 'max_features': 2, 'n_estimators': 55, 'random_state': 5}

In [196]:
score

array([0.68585298, 0.68307906, 0.69833564, 0.71428571, 0.72676838])

In [197]:
score.mean()

0.7016643550624134

In [198]:
score.std()

0.016709301470009427